@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

body {
  font-family: "DotGothic16", sans-serif;
  height: 100vh;
  background-color: #cbcbcb;
  text-align: center;
}

.zukan {
  background-color: #ff0000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 5px solid #111;
  margin: 0 auto; /* 左右中央に配置 */
  width: 500px; /* 画面の幅の最大90%を使用 */
}
.zukan_screen {
  background-color: #fff;
  margin: 20px;
  border: 5px solid #111;
  border-radius: 10px;
  padding: 20px;
}
.flavor_text {
  text-align: justify;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 5px double #111;
}
.pokemon_img {
  width: 110px;
}

/* テキスト入力フィールドのスタイリング */
.input_text {
  padding: 10px 15px; /* パディングを調整 */
  border-radius: 20px; /* 角に丸みをつける */
  border: 2px solid #555; /* 境界線を追加 */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* 内側の影を追加 */
  outline: none; /* フォーカス時のアウトラインを削除 */
  transition: border-color, border-radius 0.3s; /* 境界線の色の変化にアニメーションを追加 */
}

/* テキスト入力フィールドにフォーカスしたときのスタイリング */
.input_text:focus {
  border-color: #ff0000; /* 境界線の色を変更 */
  box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.5); /* 内側の影の色を変更 */
  border-radius: 0px; /* 角に丸みをつける */
}
/* "前へ" "次へ" ボタンの共通スタイリング */
.next_prev_button,
.search_button {
  border: none; /* ボーダーを削除 */
  background: darkred; /* ボタンの背景色 */
  cursor: pointer; /* カーソルをポインタに */
  position: relative; /* 疑似要素の位置決めの基準 */
  padding: 10px 35px; /* テキストのためのパディング */
  color: white; /* テキストの色 */
  font-weight: bold; /* テキストを太字に */
  overflow: visible; /* 疑似要素がボタンの外に出ても良いように */
  transition: all 0.3s; /* クリック時のアニメーション効果 */
  margin: 0 10px; /* マージンを設定 */
  user-select: none; /* テキスト選択を無効に */
  border-radius: 20px; /* ボタンの角に丸みをつける */
}

/* "前へ"ボタンのスタイリング */
#prev:before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid white; /* 左向きの三角形を白色に */
  transform: translateY(-50%);
}

/* "次へ"ボタンのスタイリング */
#next:before {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white; /* 右向きの三角形を白色に */
  transform: translateY(-50%);
}

/* ボタンが押された時の挙動 */
.next_prev_button:active,
.search_button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* クリック時の影の追加 */
  transform: translateY(3px); /* クリック時にボタンを少し下に移動 */
}

#loading {
  position: fixed; /* 全画面に表示するためfixedを使用 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* 半透明の背景 */
  display: none; /* 初期状態では非表示 */
  z-index: 1000; /* 他の要素より上に表示 */
  text-align: center; /* 水平方向の中央揃え */
}

#loading h1 {
  position: absolute; /* 絶対位置指定 */
  top: 50%; /* 上端から画面の半分の位置 */
  left: 50%; /* 左端から画面の半分の位置 */
  transform: translate(-50%, -50%); /* 自身のサイズの半分だけ戻る */
  margin: 0; /* デフォルトのマージンをリセット */
}

.pokemon_number,
.pokemon_name {
  font-size: 20px;
  margin: 10px;
}

.pokemon_flavor_text {
  margin: 0;
  font-size: 14px;
}
